<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/">Home</a>

    <p>
      You successfully logged in. -->
      <a href="/protected-route">Go to protected route</a>
    </p>
  </body>
</html>
