<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/">Home</a>

    <h1>Register Page</h1>
    <form method="POST" action="/users">
      <label for="email">Enter Emai:</label>
      <br />
      <input type="text" name="email" />
      <br />
      <label for="password">Enter Password:</label>
      <br />
      <input type="password" name="password" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
